@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 18px;
  background-color: white;
  color: black;
}

main {
  margin: 0 auto;
  max-width: 70%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.flex {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#date {
  font-size: 25px;
}

#weather {

}

#memo {

}

#memo input {
  width: 100%;
  border: none;
  background: #f3f3f3;
  padding: 20px;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'SpoqaHanSansNeo-Regular';
}

#memo input:focus {
  outline: none;
}

#memo .right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  font-family: 'SpoqaHanSansNeo-Regular';
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: lightcoral;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: rgb(235, 75, 75);
  transition: all .5s;
}

#editor {
  margin: 20px 0;
}

#display {
  margin-bottom: 20px;
} 

#display > div {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.contentDiv span {
  margin-left: 10px;
  font-size: 16px;
}

.contentDiv h2 {
  font-size: 22px;
  display: inline;
}

#display button {
  font-size: 18px;
  width: 100px;
}

.contentDiv {
  margin-top: 20px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}

.contentDiv > div {
  margin-top: 20px;
}

.darkMode {
  background-color: rgb(65, 65, 65);
  color: white;
}

/* 색상 조합 변경 */

/* 다크 모드 버튼 */
.switch-button {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:20px;
  background-color: #ccc;
  box-shadow: inset 1px 5px 1px #999;
  -webkit-transition: .4s;
  transition: .4s;
}

.onoff-switch:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .4s;
  border-radius:20px;
}

.switch-button input:checked + .onoff-switch {
  background-color: lightcoral;
  box-shadow: inset 1px 5px 1px rgb(235, 75, 75);
}

.switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}