@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 18px;
}

main {
  margin: 0 auto;
  max-width: 70%;
}

.flex {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#date {
  font-size: 25px;
}

#weather {

}

#memo {

}

#memo .label {
  padding: 10px 0;
  font-size: 25px;
  margin-right: 15px;
}

#memo input {
  width: 40%;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  padding: 10px;
  font-size: 20px;
}

#memo .right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  font-family: 'SpoqaHanSansNeo-Regular';
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: lightcoral;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: rgb(235, 75, 75);
  transition: all .5s;
}

#editor {
  margin: 20px 0;
}

#display {
  margin-bottom: 20px;
} 

#display > div {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.contentDiv span {
  margin-left: 10px;
  font-size: 16px;
}

.contentDiv h2 {
  font-size: 22px;
  display: inline;
}

#display button {
  font-size: 18px;
  width: 100px;
}

.contentDiv {
  margin-top: 20px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}

.contentDiv > div {
  margin-top: 20px;
}